@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>Hashim is from sanatpura a village full of amazing people</P>
Welcome to your new app.

<p>Hi I am syed Aqib</p>
<p>I am hashim Ali</p>
<p>I am hashim Ali</p>